* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  position: fixed;
  top: 0;
  max-width: 477px;
  background-color: rgba(240, 128, 128, 0.9);
  text-align: center;
  left: 0;
  right: 0;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  color: rgb(250, 245, 228); /* Set text color */
  font-size: 1.7em; /* Adjust font size as needed */
  padding: 20px;
  z-index: 2;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 477px;
  height: 100%;
  background-image: url("./body background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
  pointer-events: none; /* Prevent the background from interacting with scrolling */
}

@media (max-width: 768px) {
  body::before {
    width: 100%;
    background-size: contain;
  }
}

.background-wrapper {
  position: fixed; /* Keep the background fixed in place */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 477px; /* Mobile-friendly width */
  height: 100%;
  background-image: url("./body background.jpg");
  background-size: cover; /* Ensure it covers the area */
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
}

@media (max-width: 768px) {
  .background-wrapper {
    width: 100%; /* Make the background width responsive */
    background-size: contain; /* Ensure the aspect ratio is maintained on mobile */
  }
}

@media (max-width: 768px) {
  .background-wrapper {
    width: 100%; /* Adjust to fit the mobile viewport */
    height: 100%; /* Ensure it covers the full height of the screen */
    background-size: contain; /* Use contain to maintain aspect ratio */
    background-position: center top;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.list,
ol.answer-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.question {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
  font-size: large;
  font-style: oblique;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  z-index: 1;
}

.card {
  width: 90%;
  margin-bottom: 20px auto;
  position: relative;
}

.card-bookmark-button {
  position: absolute;
  top: 3%;
  right: 3%;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card--highlight {
  color: rgb(255, 255, 255);
  align-self: center;
  padding: 30px;
  border-radius: 30px;
  margin-top: 20px;
  width: 90%;
  margin-bottom: 40px;
}

.cards-container .card:first-child {
  background-color: rgb(143, 216, 210, 0.7);
  margin-top: 80px;
}

.cards-container .card:nth-child(2) {
  color: rgb(52, 52, 52);
  background-color: rgba(254, 230, 94, 0.7);
}

.cards-container .card:nth-child(3) {
  background-color: rgba(173, 140, 240, 0.7);
}

.cards-container .card:nth-child(4) {
  background-color: rgb(180, 34, 34, 0.7);
}

.cards-container .card:nth-child(5) {
  background-color: rgba(128, 220, 251, 0.7);
}

.cards-container .card:nth-child(6) {
  background-color: rgb(0, 0, 0, 0.7);
}

.cards-container .card:nth-child(7) {
  background-color: rgba(252, 125, 189, 0.7);
}

.cards-container .card:nth-child(8) {
  background-color: rgb(192, 192, 192, 0.7);
}

.cards-container .card:nth-child(9) {
  background-color: rgb(139, 69, 19, 0.7);
}

.cards-container .card:nth-child(10) {
  background-color: rgb(25, 25, 112, 0.7);
}

.cards-container .card:nth-child(11) {
  color: rgb(52, 52, 52);
  background-color: rgb(250, 245, 228, 0.7);
  margin-bottom: 60px;
}

ol.answer-element li {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.answer-element {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  border: none;
  text-align: left;
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  font-size: 1em;
  border-radius: 25px;
}

.answer-button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  text-align: center;
  cursor: pointer;
  color: black;
  font-size: 1em;
  transition: background-color 0.3s ease;
  border-radius: 25px;
}

.answer-button:hover {
  opacity: 0.8;
}

.cards-container .card:nth-child(1) .answer-element {
  background-color: rgba(143, 216, 210, 0.7);
}
.cards-container .card:nth-child(2) .answer-element {
  background-color: rgba(254, 230, 94, 0.7);
  color: rgb(52, 52, 52);
}
.cards-container .card:nth-child(3) .answer-element {
  background-color: rgba(173, 140, 240, 0.7);
}
.cards-container .card:nth-child(4) .answer-element {
  background-color: rgb(180, 34, 34, 0.7);
}
.cards-container .card:nth-child(5) .answer-element {
  background-color: rgba(128, 220, 251, 0.7);
}
.cards-container .card:nth-child(6) .answer-element {
  background-color: rgb(0, 0, 0, 0.7);
}
.cards-container .card:nth-child(7) .answer-element {
  background-color: rgba(252, 125, 189, 0.7);
}
.cards-container .card:nth-child(8) .answer-element {
  background-color: rgb(192, 192, 192, 0.7);
}
.cards-container .card:nth-child(9) .answer-element {
  background-color: rgb(139, 69, 19, 0.7);
}
.cards-container .card:nth-child(10) .answer-element {
  background-color: rgb(25, 25, 112, 0.7);
}
.cards-container .card:nth-child(11) .answer-element {
  background-color: rgb(250, 245, 228, 0.7);
  color: rgb(52, 52, 52);
}

.card-hashtags {
  margin-top: 15px;
  font-size: 0.9em; /* Adjust font size as needed */
  color: inherit; /* Adjust color as needed */
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

footer {
  position: fixed;
  bottom: 0;
  max-width: 476px;
  background-color: rgba(240, 128, 128, 0.9);
  margin: 0 auto;
  padding: 10px;
  left: 0;
  right: 0;
  border-radius: 30px 30px 0 0;
  z-index: 1;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 12px;
}

.footer-link {
  text-decoration: none;
}
