footer {
  position: fixed;
  bottom: 0;
  width: 360px;
  background-color: rgba(240, 128, 128, 0.9);
  margin: 0 auto;
  left: 0;
  right: 0;
  border-radius: 30px 30px 0 0;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 12px;
}

.footer-link {
  text-decoration: none;
}

.footer-link svg {
  fill: rgb(250, 245, 228, 0.9);
  stroke: rgb(250, 245, 228);
  width: 24px;
  height: 24px;
}
